*{
  box-sizing: border-box;
}
html,
body {
    background-image: url("../images/fresh_snow.png");
    background-repeat: repeat;
    margin:0;
    padding: 0;
}
header{
  background-color:white;
  height: 20%;
}

.myname{
  color:white;
  width: 350px;
  height: 100%;
  background-color:#4aaaa5;
  text-align: center;
  padding: 10px 30px;
}
.nav{
  padding: 10px 10px;
}

@media screen and (max-width: 768px){
  .myname{
    width: 100%;
  }

  .nav{
    margin-left: 20%;
  }
}
.container{
  min-height: 120vh;
}
.jumbotron{
  margin-top:30px;
  background-color: white;

}
#about{
  color:#4aaaa5;
}
p{
  line-height: 2;
}
h3{
  position:absolute;
  bottom: 20%;
  width: 300px;
  background-color: #4aaaa5;
  height: 50px;
  text-align: center;
  font-size: xx-large;
  color: white;
  } 
  #row1, #row2,#row3{
    padding:20px;
  }
footer {
  background-color: rgb(136, 130, 130);
  border-top: 7px solid #4aaaa5;
  bottom: 0;
  height: 60px; 
}
p#copyright{
  text-align: center;
  color:white;
}
#submit:hover{
  background-color: #4aaaa5;
}